<% include header %>

<div class="page-content inset">

    <div class="col-lg-12">
        <h2>404!</h2>
        <div class="alert alert-dismissable alert-warning">

            <h3> 不好意思哦，页面弄丢啦......</h3>
        </div>
    </div>
</div>
<% include footer %>